body{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.bg-custom{
    background-color:#f6f6f6;
}
.test{
    background-color: rgb(180, 124, 124);
}

.cursor-pointer{
    cursor: pointer;
}

.hide{
    display: none;
    visibility: hidden;
    transition: all ease-in-out 300ms;
}

.show{
    display: inline;
    visibility: visible;
    transition: all ease-in-out 300ms;
}

.alert-absolute{
    position: absolute;
    top: 20%;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}