.brand-item{
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.brand-item span{
    font-weight: 700;
}

.brand-item-selected{
    background-color: rgba(28, 14, 235, 0.418);
    padding: 2px;
}
.brand-item:hover{
    scale: 1.1;
    transition: all ease-in-out 200ms;
}
.brands-container{
    background-color: #3d3d3c;
    color: whitesmoke;
    padding-bottom: 30px;
}

.featured-announcement-card{
    border-radius: 25px;
}

.featured-announcement-card .card-img-top{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.featured-adds-container {
   position: absolute;
   margin-top: -15px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}