.brand-item{
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.brand-item span{
    font-weight: 700;
}

.brand-item-selected{
    background-color: rgba(18, 18, 19, 0.205);
}
.brand-item:hover{
    scale: 1.1;
    transition: all ease-in-out 200ms;
}
.brands-container{
    padding-bottom: 30px;
}

.featured-announcement-card{
    border-radius: 15px;
}

.featured-announcement-card .card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.featured-adds-container {
   margin-top: -15px;
   border-radius: 20px;
}